<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, maximum-scale=1.0">
        <title>Learn&Chill</title>
        <link rel='stylesheet' type='text/css' href='/stylesheets/main/main.css'>
        <link rel='stylesheet' type='text/css' href='/stylesheets/pages/_RSVPed.css'>
        <script src='/stylesheets/scripts/styleScript.js' defer></script>
    </head>
    
    <body>
        <%- include('./partials/navigation.ejs') %>

        <section class='container'>
            <div class='container__content_1'>
                        <section id='headers'>
                            <h3>Event</h3>
                            <h3>Date</h3>
                            <h3>Status</h3>
                            <h3></h3>
                        </section>
                        <% if (eventList){ %>
                        
                            <% for(let i = 0; i< eventList.length; i++){ %>


                                <section>
                                    <p><%= eventList[i].title %></p>
                                    <p><%= new Date(eventList[i].date).toDateString() %></p>
                                    <p><%= eventList[i].status %></p>
                                    <div>
                                        <a href="/auth/update/<%= eventList[i]._id %>">Update</a>
                                        <a href="/auth/delete/<%= eventList[i]._id %>">Delete</a>
                                    </div>
                                </section>

                          <%  } %>
                        <% } %>
                        
            </div>
            <div class='container__content_2'></div>
            <div class='container__content_3'></div>
        </section>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>